body {
    background-color: rgb(241, 165, 241);
    margin: 0;
}

header {
    margin: 0;
    padding: 10px;
    background-color: purple;
    box-shadow: 1px 1px 5px;
    position: fixed;
    width: 100%;
    top: 0;
}

header a {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    padding: 10px;
}

section#home{
    margin-top: 100px;
}

section#home img{
    display: block;
    margin: auto;
}

div.infoCon {
    background-color: rgb(137, 50, 137);
    min-width: 400px;
    padding: 15px;
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
}

form.formIn {
    color: white;
    text-shadow: 1px 1px 1px black;
}

input[type=text],
input[type=password] {
    border-radius: 5px;
}

table.userTable {
    background-color: rgb(241, 165, 241);
    width: 100%;
    border-radius: 5px;
}

td,
th {
    text-align: center;
}

footer {
    padding: 3px;
    margin: 50px 0 0 0;
    text-align: center;
}